// Imports
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// Fonts
$f-prim: 'Roboto Mono', monospace;

// Typography
h1,
.h1 {
    color: black;
    font-family: $f-prim;
    font-size: 24px;
}
h2,
.h2 {
    color: black;
    font-family: $f-prim;
    font-size: 20px;
}
h3,
.h3 {
    color: black;
    font-family: $f-prim;
    font-size: 18px;
}
h4,
.h4 {
    color: black;
    font-family: $f-prim;
    font-size: 16px;
}
h5,
.h5 {
    color: black;
    font-family: $f-prim;
    font-size: 14px;
}
h6,
.h6 {
    color: black;
    font-family: $f-prim;
    font-size: 12px;
}
.uppercase {
    text-transform: uppercase;
}

// Structure
.width {
    &--30{
        width: 30%;
    }
    &--40{
        width: 40%;
    }
    &--50{
        width: 50%;
    }
    &--60{
        width: 60%;
    }
    &--70{
        width: 70%;
    }
    &--80{
        width: 80%;
    }
    &--90{
        width: 90%;
    }
    &--100{
        width: 100%;
    }
}
.margin{
    &--center{
        margin:0 auto;
    }
    &--top{
        &--10{
            margin-top: 10px;
        }
        &--20{
            margin-top: 20px;
        }
        &--30{
            margin-top: 30px;
        }
        &--40{
            margin-top: 40px;
        }
        &--50{
            margin-top: 50px;
        }
    }
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  &-wrap {
    -ms-flex-wrap: wrap;
     -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  &-center {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center;
     -moz-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
  }
}

// Page
body {
    background: #e4e4e4;
}
